$gutter-x: 0.75rem;

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, #{$gutter-x});
  padding-left: var(--bs-gutter-x, #{$gutter-x});
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 35px;
  margin: 20px 0;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.menu-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}