.menu-content {
  padding: 16px 0;
}

.category-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.menu-placeholder {
  color: #6b7280;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

.product-card {
  padding: 12px;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 300px;
  height: 380px;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
}

.product-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.product-info {
  margin-top: 16px;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  //margin: 0 0 6px 0;
  color: #333;
  margin-bottom: 29px;
}

.product-weight {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 12px;
}

.add-button {
  width: 100%;
  height: 40px;
  padding: 11px 92px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 12px;
  background: rgb(242, 242, 243);

  &:hover {
    background-color: #e8e8e8;
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
  }

  .product-image {
    height: 140px;
  }

  .product-info {
    padding: 12px;
  }

  .product-price {
    font-size: 18px;
  }

  .product-name {
    font-size: 14px;
  }
}